/*Maquetado*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#fafafa;
}
#root{
  min-height: 100vh;
}
/*Diseño logo*/
.baseLogo{
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.letras{
  z-index: 2;
  font-size: 6vw;
  letter-spacing: 1.1vw;
  font-family: 'Yellowtail', cursive;
  min-height: 50%;
  color: rgb(255, 136, 0);
  text-shadow: .275vw .275vw rgb(72, 20, 121);
}
.letras span{
  font-size: 8vw;
}
.iconos{
  z-index: 1;
  min-width:min-content;
  min-height:min-content;
  display: flex;
  justify-content: space-around;
}
.iconos div{
  margin: 1vw;
  min-width: 8vw;
  min-height: 8vw;
  border-radius: 20vw;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: deepskyblue;
  box-shadow: .75vw .75vw .75vw rgb(0, 46, 61)
}
.icon1{
  background-image: url('../img/logoIcon1.png');
}
.icon2{
  background-image: url('../img/logoIcon2.png');
}
.icon3{
  background-image: url('../img/logoIcon3.png');
}
.icon4{
  background-image: url('../img/logoIcon4.png');
}
/*fin diseño logo*/
/*Fin Maquetado*/
/*Header*/
nav{
  background-color:  rgba(0, 135, 180, 0.801);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 2vw 0 0;
}
nav a{
  color: rgb(255, 136, 0);
  text-shadow: 1px 1px rgb(72, 20, 121);
  transform: scale(1.2);
}
.active{
  color: rgb(255, 136, 0) !important;
  font-weight: bold;
}
.dropdown-trigger{
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dropdown-content{
  position: relative;
  min-width: 15vw;
  overflow: hidden;
  background-color: rgba(0, 135, 180, 0.747);
  transition: .75s ease;
}
.dropdown-content li a{
  color: white;
  text-align: center;
  font-weight: bold;
}
.dropdown-content li a:hover{
  background-color: rgba(0, 135, 180, 0.89);
  transition: 1s ease;
}
/*Login user*/
.user{
  background-image: url('../img/logoUser.png');
  width: 10vw;
  min-width: 120px;
  height: 100%;
  cursor: pointer;
}
.user.nav:hover, .dropdown-trigger:hover{
  transform: scale(1.6);
  transition: .5s ease;
}
.userSideNav{
  z-index: 99999 !important;
  background-color: rgb(0, 135, 180);
  box-shadow: 20px 20px 20px rgb(0, 46, 61);
  transition: 1s ease;
}
.iconosRedes{
  min-width: 80%;
  display: flex;
  justify-content: space-around;
}
.googleIcon{
  min-width: 4vw;
  min-height: 4vw;
  background-image: url('../img/google.png');
  background-size: 80%;
  background-color: rgba(20, 37, 68, 0.89);
  background-position: center;
  background-repeat: no-repeat;
  border: 6px inset rgba(0, 46, 61, 0.329);
  border-radius: 20vw;
}
.googleIcon:hover{
  transform: scale(1.2);
  cursor: pointer;
  transition: 1s ease;
  background-color:  rgba(20, 37, 68, 0.507);
}
.liUserNav{
  min-height: 30vh;
}
.user-view{
  min-height: 35vh
}
.liUserNav .background{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.liUserNav .name{
  font-size: 3vw !important;
}
.background img{
  max-width: 100%;
  height: 100vh;
}
.loginUser{
  color: white;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.loginUser label,.loginUser input{
    color: white !important;
}
.socialNetwork{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.liUserNav .circle{
  max-width: 12vw !important;
  max-height: 12vw !important;
  min-width: 50px !important;
  min-height: 50px !important;
}
nav .input-field,nav .input-field input{
  margin-top: 1vh !important;
}
/*fin login User*/
/*Fin header*/
/*Section Content*/
section{
  min-height: 79.75vh;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  align-items: center;
}
.bannerPrincipal{
  max-height: 72vh;
  min-width: 100%;
  background-image:linear-gradient(180deg, rgba(0, 135, 180, 0.801), #f8f8f8);
  background-position: 0 55%;
  background-repeat: no-repeat;
  background-size: cover;
}
.call{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.call p,.liUserNav .name{
  font-family: 'Josefin Sans', sans-serif !important ;
  text-shadow: .1vw .1vw rgb(72, 20, 121);
  color: rgb(226, 122, 2) !important;
}
.call p{
  color: rgb(236, 224, 208) !important;
  text-shadow: .125vw .125vw rgba(226, 121, 2, 0.76);
}
.call div{
  width: 2vw;
}
.call i{
  color: rgb(255, 136, 0);
  box-shadow: 0px 0px .5vw .5vw rgba(0, 46, 61, 0.788);
  border: .75vw inset rgba(0, 46, 61, 0.329);
  background-color: rgba(72, 20, 121, 0.849);
  border-radius: 20vw;
}
.call i:hover, .backHome i:hover{
  box-shadow: 0px 0px .75vw .75vw rgb(0, 46, 61);
  transform:scale(1.2);
  cursor: pointer;
  transition: 1.5s ease;
}
.slogan{
  margin-top: -5vh;
  padding: 1vw 2.5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slogan p{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: rgba(98, 39, 153, 0.788);
  text-align: center;
  padding: 1vw;
  border-radius: 2vw;
  background-color: rgba(0, 135, 180, 0.048);
  box-shadow: 0vw 0 20vw 10vw rgb(0, 46, 61);
}
.slogan>div{
  padding: -2vw 1vw;
  border-radius: 20vw;
  background-image:linear-gradient(360deg, rgba(0, 135, 180, 0), #f8f8f8b0);
}
.imagenes{
  background-repeat: no-repeat;
  background-position: 50%;
}
/*Carousel -  Slider*/
.titleCarousel{
  font-size: 4vw;
  font-family: 'Josefin Sans', sans-serif;
}
.carouselCitys{
  max-width: 900px;
  min-height: 500px;
}
.carousel{
  margin: 3vh 0;
}
.slide{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.slide .city{
  margin: 1% 0 0 1%;
  width: 48%;
  height: 48%;
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2vw;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.title p, .titleCity{
  text-align: center;
  width: 99%;
  color: white;
  background-color: rgba(72, 20, 121, 0.61);
  border-radius: 0 0 4vw 4vw;
  
}
.carousel .indicators .indicator-item{
  width: 12px;
  height: 12px;
  margin-right: 1vw;
}
/*Fin Carrousel - Slider*/
/*Fin Section Content*/
/*Footer*/
footer{
  padding: 0 2vw;
  width: 100%;
  background-color:  rgba(0, 135, 180, 0.801) !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footerLogo {
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.footerLinks{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1vw;
}
.footerLinks a{
  color:white
}
.footerLinks p{
  font-weight: bold;
  color:rgb(72, 20, 121);
}
/*Fin Footer*/
/*Pagina cities*/
.cityPage{  
  background-image:linear-gradient(180deg, rgba(0, 135, 180, 0.801), #f8f8f8);
  font-family: 'Josefin Sans', sans-serif;
}
.viewCities{
  width: 95vw;
  min-height: 20vh;
  margin: 1.5vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.viewCities a{ 
  margin: 2vw;
}
.cityView{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2vw;
  box-shadow: 0vw 0 2vw .25vw rgb(0, 46, 61);
}
.cityView:hover{
  transform: scale(1.1);
  transition: .8s ease;
  cursor: pointer;
  box-shadow: 0vw 0 2vw 1.25vw rgb(0, 46, 61);
}
.cityName{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  min-width: 42vw;
  min-height: 50vh;
}
.allCity{
  padding: 0 2vw;
  display: flex;
  align-items:center;
  margin: 1vw 0;
}
.descriptionCity{
  display: flex;
  align-items: center;
  min-height: 25vh;
  color: white;
  padding: 2vw;
  margin-left: 2vw;
  text-indent: 1vw;
  text-align: justify;
  font-size: 1.15vw;
  background-color: rgba(72, 20, 121, 0.685);
  border-radius: 2vw;
}
.allCity>.cityView{
  flex: 2 0 60vw;
}
.allCity>.cityView:hover{
  transform: scale(1);
  cursor: default;
  box-shadow: 0vw 0 2vw .25vw rgb(0, 46, 61);
}
.titleCity{
  width: 100%;
  font-size: 2.4vw;
  border-radius: 0 0 2vw 2vw;
}
/*Filtro*/
.filterCities{
  display: flex;
  align-items: center;
  justify-content: center;
}
.filterCities label{
  font-size: 1.2vw !important;
  font-weight:bold ;
}
.filterCities input{
  width: 60vw !important;
}
.filterCities,.filterCities input,.filterCities label{
  color: white;
  font-size: 2vw;
}
.cityPage h2{
  margin: 2vh 0 0 0;
  font-weight: bold;
  text-shadow: .2vw .2vw rgb(72, 20, 121);
  color: rgb(255, 150, 30);
}
/*Fin filtro*/
/*itineraries*/
.seccionInfoCity{
  color: rgb(0, 135, 180);
  min-width: 100%;
  min-height: 50vh;
  text-align: center;
  text-shadow: 1vw solid rgb(0, 135, 180);  
  scroll-behavior: smooth;
}
.seccionInfoCity h2{
  color:rgb(224, 132, 26);
  text-shadow: .2vw .2vw rgba(255, 255, 255); 
  font-size: 2.5vw;
  margin: 0;
  background-color: rgba(241, 241, 241, 0.123);
  padding: .5vw 0;
  border: 1.5vw inset rgba(0, 46, 61, 0.144);
}
.ItineraryNotYet{
  color: white;
  text-shadow: .2vw .2vw rgba(72, 20, 121, 0.233); 
  display: flex;
  justify-content:space-around;
  align-items: center;
  font-size: 2vw;
  padding: 0 10vw;
  min-height: 20vw;
  background-color: rgba(72, 20, 121, 0.233);
  box-shadow: 0vw 0 4.2vw .5vw rgba(72, 20, 121, 0.281);
}
.imgItineraryNotYet{
  min-height: 15vw;
  min-width: 15vw;
  background-image: url('../img/notFound.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.viewInfoUser{
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2vw;
}
.viewInfoUser span{
  padding: 1vw 1.5vw;
  color: rgb(255, 136, 0);
  box-shadow: 0px 0px .5vw .5vw rgba(0, 46, 61, 0.788);
  border: .75vw inset rgba(0, 46, 61, 0.329);
  background-color: rgba(72, 20, 121, 0.849);
  border-radius: 20vw;
}
.viewInfoUser span:hover{
  cursor: pointer;
  transform: scale(100);
  transition: .75s ease;
}
/*fin itineraries*/
/*fin pagina cities*/
/*Error 404*/
.backHome{
  display: flex;
  justify-content: center;
}
.backHome i{
  font-size: 12vw;
  box-shadow: 0px 0px 10px 10px rgba(0, 46, 61, 0.788);
  border: 8px inset rgba(0, 46, 61, 0.329);
  background-color: rgba(72, 20, 121, 0.849);
  border-radius: 20vw;
}
/*Fin error 404*/
/*Medias*/
@media(max-width:569px){
  .user{
    background-size: 27%;
  }
  .call i{
    font-size: 45px;
  }
  .baseLogo{
    margin: -2vh auto auto auto;
  }
  .iconos{
    margin-top: -4vh;
  }
  .slogan p{
    font-size: 5vw;
    padding: 0 10vw;
    margin-top: 4vw;
  }
  .call{
    padding: 0 4vw;
    text-align: center;
  }
  .call p{
    font-size: 4vw;
  }
  .carousel.carousel-slider{
    max-width: 400px;
    height: 100px;
  }
  .footerLinks p{
    font-size: 3.2vw;
  }
  .footerLinks a{
    font-size: 3vw;
  }
  .footerLogo {
    min-width: 50vw;
    height: 8vh;
  }
  .dropdown-content{
    min-width: fit-content;
    top: -5vh;
    left: 1vw;
  }
  .input-field label{
  font-size: 3.2vw !important;
  }
  .descriptionCity {
    font-size: 2.4vw;
  }
  .viewInfoUser p{
   font-size: 3.5vw;
  }
}
@media (min-width:570px) and (max-width:677px){
  .user{
    background-size: 28%;
  }
  .call i{
    font-size: 55px;
  }
  .baseLogo{
    margin: -5vh auto auto auto;
  }
  .iconos{
    margin-top: -6vh;
  }
  .slogan p{
    font-size: 5vw;
    padding: 2vw;
  }
  .call p{
    font-size: 4vw;
  }
  .carousel.carousel-slider{
    max-width: 570px;
  }
  .footerLinks p{
    font-size: 2.8vw;
  }
  .footerLinks a{
    font-size: 2.6vw;
  }
  .footerLogo {
    min-width: 45vw;
    height: 10vh;
  }
  .dropdown-content{
    top: -6vh;
    left: 1vw;
  }
  .input-field label{
    font-size: 2.8vw !important;
    }
    .descriptionCity {
      font-size: 1.8vw;
    }
    .viewInfoUser p{
     font-size: 2.8vw;
    }
}
@media (min-width:678px) and (max-width:1048px){
  .user{
    background-size: 32%;
  }
  .dropdown-content{
    top: -5vh;
  }
  .call i{
    font-size: 75px;
  }
  .baseLogo{
    min-width: 600px;
    margin: -4vh auto auto auto;
  }
  .iconos{
    margin-top: -8vh;
  }
  .slogan p{
    font-size: 5vw;
  }
  .call p{
    font-size: 3vw;
  }
  .carousel.carousel-slider{
    max-width: 678px;
  }
  .footerLinks p{
    font-size: 2vw;
  }
  .footerLinks a{
    font-size: 1.8vw;
  }
  .footerLogo {
    min-width: 40vw;
    height: 8vh;
  }
  .input-field label{
    font-size: 2vw !important;
    }
  .descriptionCity {
    font-size: 1.8vw;
  }
  .viewInfoUser p{
    font-size: 2.5vw;
  }
}
@media (min-width:1049px) and (max-width:1350px){
  .user{
    background-size: 30%;
  }
  .dropdown-content{
    top: -5vh;
  }
  .call i{
    font-size: 110px;
  }
  .baseLogo{
    margin: -6vh auto auto auto;
  }
  .iconos{
    margin-top: -9vh;
  }
  .slogan p{
    font-size: 4vw;
  }
  .call p{
    font-size: 2.2vw;
  }
  .footerLinks p{
    font-size: 1.6vw;
  }
  .footerLinks a{
    font-size: 1.2vw;
  }
  .footerLogo {
    min-width: 35vw;
    height: 10vh;
  }
  .viewInfoUser p{
    font-size: 2vw;
  }
  .input-field label{
    font-size: 1.8vw !important;
    }
}
@media (min-width:1351px){
  .user{
    background-size: 24%;
  }
  .dropdown-content{
    top: -5vh;
  }
  .call i{
    font-size: 125px;
  }
  .baseLogo{
    margin: -6vh auto auto auto;
  }
  .iconos{
    margin-top: -9vh;
  }
  .slogan p{
    margin: 4vh 0;
    font-size: 2vw;
  }
  .call p{
    font-size: 2.2vw;
  }
  .footerLinks p{
    font-size: 1.1vw;
  }
  .footerLogo {
    min-width: 12vw;
    height: 10vh;
  }
  .viewInfoUser p{
    font-size: 2vw;
  }
  .input-field label{
    font-size: 1.5vw !important;
  }
}
/*fin medias*/
/*Estilos de alerta*/
.materialert{
  position: relative;
  min-width: 150px;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.1s linear;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.materialert .material-icons{
  margin-right: 10px;
}
.materialert .close-alert{
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
  color: inherit;
  background: 0 0;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
  filter: alpha(opacity=40);
  margin-bottom: -5px;
  position: absolute;
  top: 16px;
  right: 5px;
}
.materialert.info{
  background-color: #039be5 !important;
  color: #fff;
}
.materialert.success{
  background-color: #43a047 !important;
  color: #fff;
}
.materialert.error{
  background-color: #c62828 !important;
  color: #fff;
}
.materialert.warning{
  background-color: #fbc02d !important;
  color: #fff;
}
/*Fin de estilos de alerta*/

/*Menu Admin*/
.adminPage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw;
}
.adminPage .opciones{
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.aCities{
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  background-image:linear-gradient(180deg, rgba(0, 135, 180, 0.801), #f8f8f8);
}
.aCities .backHome i{
  font-size: 8vw;
}
.row{
  padding: 2vw;
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0c200d8a;
}
.row .col.s12{
  margin: auto;
}
.row div, .row label,.row input,.row textarea{
  color: #ffffff !important;
}
.contentTab{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.input-field{
  width: 50vw;
}
.contentTab button{
  max-width: 15vw;
}
.buttonE{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5vw;
  max-width: 3vw;
}
.idColor{
  color: #32d864;
}
/*Fin menu Admin*/