/*Maquetado*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#fafafa;
  color:white
}
#root{
  min-height: 100vh;
}
/*Diseño logo*/
.baseLogo{
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.letras{
  z-index: 2;
  font-size: 6vw;
  letter-spacing: 1.1vw;
  font-family: 'Yellowtail', cursive;
  min-height: 50%;
  color: rgb(255, 136, 0);
  text-shadow: .275vw .275vw rgb(72, 20, 121);
}
.letras span{
  font-size: 8vw;
}
.iconos{
  z-index: 1;
  min-width:min-content;
  min-height:min-content;
  display: flex;
  justify-content: space-around;
}
.iconos div{
  margin: 1vw;
  min-width: 8vw;
  min-height: 8vw;
  border-radius: 20vw;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: deepskyblue;
  box-shadow: .75vw .75vw .75vw rgb(0, 46, 61)
}
.icon1{
  background-image: url('../img/logoIcon1.png');
}
.icon2{
  background-image: url('../img/logoIcon2.png');
}
.icon3{
  background-image: url('../img/logoIcon3.png');
}
.icon4{
  background-image: url('../img/logoIcon4.png');
}
/*fin diseño logo*/
/*Fin Maquetado*/
/*Header*/
nav{
  background-color:  rgba(0, 135, 180, 0.801);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 2vw 0 0;
}
nav a{
  color: rgb(255, 136, 0);
  text-shadow: 1px 1px rgb(72, 20, 121);
  transform: scale(1.2);
}
.active{
  color: rgb(255, 136, 0) !important;
  font-weight: bold;
}
.dropdown-trigger{
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dropdown-content{
  position: relative;
  min-width: 15vw;
  overflow: hidden;
  background-color: rgba(0, 135, 180, 0.747);
  transition: .75s ease;
}
.dropdown-content li a{
  color: white;
  text-align: center;
  font-weight: bold;
}
.dropdown-content li a:hover{
  background-color: rgba(0, 135, 180, 0.89);
  transition: 1s ease;
}
/*Login user*/
.user{
  background-image: url('../img/logoUser.png');
  width: 10vw;
  min-width: 120px;
  min-height: 10vw;
  height: 100%;
  cursor: pointer;
}
.user.nav:hover, .dropdown-trigger:hover{
  transform: scale(1.6);
  transition: .5s ease;
}
.rs-drawer{
  box-shadow: 20px 20px 20px rgb(0, 46, 61);
  transition: 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rs-drawer h4{
  color:white !important;
  font-weight: bold;
  font-size: 2vw !important;
}
.rs-drawer-content{
  background-color: rgba(1, 113, 150, 0.993) !important;
  box-shadow: 20px 20px 20px rgb(0, 46, 61);
}
.rs-drawer-body{
  background-color: rgb(0, 135, 180) !important;
  overflow-x: hidden !important;
  max-width: 90%;
  border-radius: 2vw;
  min-height: 65%;
}
.rs-drawer-body h5{
  margin:0;
  color:rgb(255, 136, 0);
  text-align: center;
  font-weight: bold;
  background-color:rgb(2, 103, 136) ;
  padding: 1vh 0; 
  box-shadow: 0px 20px 40px rgb(0, 46, 61);

}
.loginOrNot{
  padding: 1vh 2vw;
  color: rgb(255, 136, 0);
  font-weight: bold;
  font-size: 1vw;
  cursor: pointer;
}
.userLoged{
  margin:0 !important;
  display:flex;
  align-items: center;
  justify-content: space-around;
  min-width: 95%;
  min-height: 20vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.userImg{
  width: 7vw;
  height: 7vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5vw;
  box-shadow: 0 0 4vw rgb(0, 46, 61);
}
.userLogedData{
  font-size: 1.5vw;
  color:#134944;
  font-weight: bold;
  min-width: 50%;
  text-shadow: 1px 1px rgb(58, 192, 114);
  
}
.loginOnRegister{
  margin: 0 auto;
  color: #1be925;
  font-weight: bold;
  cursor: pointer;
}
.iconosRedes{
  min-width: 80%;
  display: flex;
  justify-content: space-around;
}
.googleIcon{
  min-width: 4vw;
  min-height: 4vw;
  background-image: url('../img/google.png');
  background-size: 80%;
  background-color: rgba(20, 37, 68, 0.89);
  background-position: center;
  background-repeat: no-repeat;
  border: 6px inset rgba(0, 46, 61, 0.329);
  border-radius: 20vw;
}
.googleIcon:hover{
  transform: scale(1.2);
  cursor: pointer;
  transition: 1s ease;
  background-color:  rgba(20, 37, 68, 0.507);
}
.liUserNav{
  min-height: 30vh;
}
.user-view{
  min-height: 35vh
}
.liUserNav .background{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.liUserNav .name{
  font-size: 3vw !important;
}
.background img{
  max-width: 100%;
  height: 100vh;
}
.loginUser{
  color: white;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginUser label,.loginUser input{
    color: white;
    max-width: 20vw;
}
.socialNetwork{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.socialNetwork p{
  padding: .5vh 0;
}
.liUserNav .circle{
  max-width: 12vw !important;
  max-height: 12vw !important;
  min-width: 50px !important;
  min-height: 50px !important;
}
nav .input-field,nav .input-field input{
  margin-top: 1vh !important;
}
.rs-drawer-header-close{
  right: 2vw !important;
  width: 2.5vw !important;
  font-weight: bold;
  color: #d49d12 !important;
}
.registerForm{
  padding: 0 1.5vw 1vh 1.5vw;
  max-width: 90% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 2vh auto;
}
.registerForm input{
  font-size: 1vw !important;
  max-width: 100% !important;
}
.registerForm .input-field{
  font-size: 1vw !important;
}
.registerForm label,.registerForm span{
  color:white
}
.rs-picker-toggle-placeholder,.rs-picker-toggle-value{
  color: white !important;
}
.rs-picker-menu,.rs-picker-select-menu-item{
  background-color: rgb(32, 143, 143);
  color: white !important;
}
.rs-picker-select-menu-item:hover,.rs-picker-toggle-placeholder:hover,.rs-picker-select-menu-item.rs-picker-select-menu-item-focus{
  background-color: rgb(22, 97, 97) !important;
}
.rs-picker-search-bar-input{
  max-width: 10%;
  height: 2.15vh !important;
}
.rs-btn:hover,.rs-btn:active,.rs-picker-toggle.active{
  background: rgb(32, 143, 143) !important;

}
.select-wrapper{
  max-width: 70%;
  max-height: 10vh;
}
.select-wrapper ul{
  overflow-y: visible;
}
.select-dropdown li span:hover{
  background-color: rgb(24, 109, 109);
}
.selectContry{
  overflow-y: scroll !important;
}
/*fin login User*/
/*Fin header*/
/*Section Content*/
section{
  min-height: 79.75vh;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  align-items: center;
}
.bannerPrincipal{
  max-height: 72vh;
  min-width: 100%;
  background-image:linear-gradient(180deg, rgba(0, 135, 180, 0.801), #f8f8f8);
  background-position: 0 55%;
  background-repeat: no-repeat;
  background-size: cover;
}
.call{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.call p,.liUserNav .name{
  font-family: 'Josefin Sans', sans-serif !important ;
  text-shadow: .1vw .1vw rgb(72, 20, 121);
  color: rgb(226, 122, 2) !important;
}
.call p{
  color: rgb(236, 224, 208) !important;
  text-shadow: .125vw .125vw rgba(226, 121, 2, 0.76);
}
.call div{
  width: 2vw;
}
.call i{
  color: rgb(255, 136, 0);
  box-shadow: 0px 0px .5vw .5vw rgba(0, 46, 61, 0.788);
  border: .75vw inset rgba(0, 46, 61, 0.329);
  background-color: rgba(72, 20, 121, 0.849);
  border-radius: 20vw;
}
.call i:hover, .backHome i:hover{
  box-shadow: 0px 0px .75vw .75vw rgb(0, 46, 61);
  transform:scale(1.2);
  cursor: pointer;
  transition: 1.5s ease;
}
.slogan{
  margin-top: -5vh;
  padding: 1vw 2.5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slogan p{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: rgba(98, 39, 153, 0.788);
  text-align: center;
  padding: 1vw;
  border-radius: 2vw;
  background-color: rgba(0, 135, 180, 0.048);
  box-shadow: 0vw 0 20vw 10vw rgb(0, 46, 61);
}
.slogan>div{
  padding: -2vw 1vw;
  border-radius: 20vw;
  background-image:linear-gradient(360deg, rgba(0, 135, 180, 0), #f8f8f8b0);
}
.imagenes{
  background-repeat: no-repeat;
  background-position: 50%;
}
/*Carousel -  Slider*/
.titleCarousel{
  font-size: 4vw;
  font-family: 'Josefin Sans', sans-serif;
}
.carouselCitys{
  max-width: 900px;
  min-height: 500px;
}
.carousel{
  margin: 3vh 0;
}
.slide{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.slide .city{
  margin: 1% 0 0 1%;
  width: 48%;
  height: 48%;
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2vw;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.title p, .titleCity{
  text-align: center;
  width: 99%;
  color: white;
  background-color: rgba(72, 20, 121, 0.61);
  border-radius: 0 0 4vw 4vw;
  
}
.carousel .indicators .indicator-item{
  width: 12px;
  height: 12px;
  margin-right: 1vw;
}
/*Fin Carrousel - Slider*/
/*Fin Section Content*/
/*Footer*/
footer{
  padding: 0 2vw;
  width: 100%;
  background-color:  rgba(0, 135, 180, 0.801) !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footerLogo {
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.footerLinks{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1vw;
}
.footerLinks a{
  color:white
}
.footerLinks p{
  font-weight: bold;
  color:rgb(72, 20, 121);
}
/*Fin Footer*/
/*Pagina cities*/
.cityPage{  
  background-image:linear-gradient(180deg, rgba(0, 135, 180, 0.801), #f8f8f8);
  font-family: 'Josefin Sans', sans-serif;
}
.viewCities{
  width: 95vw;
  min-height: 20vh;
  margin: 1.5vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.viewCities a{ 
  margin: 2vw;
}
.cityView{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2vw;
  box-shadow: 0vw 0 2vw .25vw rgb(0, 46, 61);
}
.cityView:hover{
  transform: scale(1.1);
  transition: .8s ease;
  cursor: pointer;
  box-shadow: 0vw 0 2vw 1.25vw rgb(0, 46, 61);
}
.cityName{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  min-width: 42vw;
  min-height: 50vh;
}
.allCity{
  padding: 0 2vw;
  display: flex;
  align-items:center;
  margin: 1vw 0;
}
.descriptionCity{
  display: flex;
  align-items: center;
  min-height: 25vh;
  color: white;
  padding: 2vw;
  margin-left: 2vw;
  text-indent: 1vw;
  text-align: justify;
  font-size: 1.15vw;
  background-color: rgba(72, 20, 121, 0.685);
  border-radius: 2vw;
}
.allCity>.cityView:hover{
  transform: scale(1);
  cursor: default;
  box-shadow: 0vw 0 2vw .25vw rgb(0, 46, 61);
}
.titleCity{
  width: 100%;
  font-size: 2.4vw;
  border-radius: 0 0 2vw 2vw;
}
/*Filtro*/
.filterCities{
  display: flex;
  align-items: center;
  justify-content: center;
}
.filterCities label{
  font-size: 1.2vw !important;
  font-weight:bold ;
}
.filterCities input{
  width: 60vw !important;
}
.filterCities,.filterCities input,.filterCities label{
  color: white;
  font-size: 2vw;
}
.cityPage h2{
  margin: 2vh 0 0 0;
  font-weight: bold;
  text-shadow: .2vw .2vw rgb(72, 20, 121);
  color: rgb(255, 150, 30);
}
/*Fin filtro*/
/*itineraries*/
.seccionInfoCity{
  color: rgb(0, 135, 180);
  min-width: 100%;
  min-height: 50vh;
  text-align: center;
  text-shadow: 1vw solid rgb(0, 135, 180);  
  scroll-behavior: smooth;
}
.seccionInfoCity h2{
  color:rgb(224, 132, 26);
  text-shadow: .2vw .2vw rgba(255, 255, 255); 
  margin: 0;
  background-color: rgba(241, 241, 241, 0.123);
  padding: .5vw 0;
  border: 1.5vw inset rgba(0, 46, 61, 0.144);
}
.ItineraryNotYet{
  color: white;
  text-shadow: .2vw .2vw rgba(72, 20, 121, 0.233); 
  display: flex;
  justify-content:space-around;
  align-items: center;
  font-size: 2vw;
  padding: 0 10vw;
  min-height: 20vw;
  background-color: rgba(72, 20, 121, 0.233);
  box-shadow: 0vw 0 4.2vw .5vw rgba(72, 20, 121, 0.281);
}
.imgItineraryNotYet{
  min-height: 15vw;
  min-width: 15vw;
  background-image: url('../img/notFound.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.viewInfoUser{
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2vw;
}
.viewInfoUser span{
  padding: 1vw 1.5vw;
  color: rgb(255, 136, 0);
  box-shadow: 0px 0px .5vw .5vw rgba(0, 46, 61, 0.788);
  border: .75vw inset rgba(0, 46, 61, 0.329);
  background-color: rgba(72, 20, 121, 0.849);
  border-radius: 20vw;
}
.viewInfoUser span:hover{
  cursor: pointer;
  transform: scale(100);
  transition: .75s ease;
}
/*fin itineraries*/
/*fin pagina cities*/
/*Error 404*/
.backHome{
  display: flex;
  justify-content: center;
}
.backHome i{
  font-size: 12vw;
  box-shadow: 0px 0px 10px 10px rgba(0, 46, 61, 0.788);
  border: 8px inset rgba(0, 46, 61, 0.329);
  background-color: rgba(72, 20, 121, 0.849);
  border-radius: 20vw;
}
/*Fin error 404*/
/*Itineraries*/
.itineraryView{
  padding-bottom: 2vw;
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  min-height:35vh;
  max-width: 900px;
  color:white;
  background-color:  rgba(72, 20, 121, 0.726);
  border-radius: 2vw;
  border: 8px inset rgba(0, 46, 61, 0.082);
 
}
.itineraryDetail{
  padding: .5vh 1vw;
  display: flex;
}
.userAutorImg{
  margin: 2vw;
  max-width: 15vw
}
.userAutorImg>div{
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  border-radius: 10vw !important;
}
.contentItinerary{
  padding: 2vw;
  flex:2;
  display:flex;
  flex-direction: column;
}
.bMoreOrLess{
  margin: auto;
  max-width: fit-content;
  border-radius: 25vw !important;
}
.comments{
  margin: 2vh auto;
  padding: 2vw;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color:rgba(184, 132, 233, 0.089);
  border-radius: 5vw;
  box-shadow: 0px 0px 10px 2px rgba(184, 132, 233, 0.336);
}
.likesAndOthers{
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.hashtagsItinerary{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.coment{
  display: flex;
  justify-content: space-between;
}
.imgUserComent{
  width: 5vw;
  height: 5vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5vw;
}
.burbleComent{
  margin: 2vw 0 0 .25vw;
  padding: 1.25vw .75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #039be5;
  border-radius:  0 2.5vw 2.5vw 2.5vw;
}
.burbleComent span{
  color: #dfdfdf;
}
.burbleComent p>span{
  color: rgb(99, 29, 165);
  font-weight: bold;
}
.inputComent{
  margin: 2vw auto 0 auto;
}
.inputComent>div{
  max-width: 90%;
  max-height: 5vh;
  display: flex;
  justify-content:space-around;
  align-items: center;
  border-radius: 5vw;
  background-color: rgba(99, 29, 165, 0.158); 
  box-shadow: 0px 0px 10px 4px rgba(184, 132, 233, 0.336);
}
#inputComent{
  border-bottom:0 !important;
  margin: .1vw 0 0 2vw;
}
.inputComent i{
  padding-right: 1vw;
}
.inputComent label, .inputComent input, .inputComent i{
  color:white !important
}
/*activities*/
.activities{
  width: 95%;  
  border-radius: 2vw;
  background-color:rgba(184, 132, 233, 0.089);
  box-shadow: 0px 0px 10px 2px rgba(184, 132, 233, 0.336);
  margin: 2vh auto;
  white-space: nowrap;
  overflow-x: scroll;
}
.activity{
  margin: 1vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1vw !important;
  display: inline-block;
}
.activity p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.activity p span{
  font-family: 'Yellowtail', cursive;
  font-weight: bold;
  font-size: 1.6vw;
  width: 100%;
  background-color: rgba(72, 20, 121, 0.726);
  border-radius: 0 0 1vw 1vw;
  letter-spacing: .125vw;
}
/*Scroll horizontal*/
.activities::-webkit-scrollbar , .rs-drawer-body::-webkit-scrollbar{
  width: 10px;
  height: 15px;
}
.activities::-webkit-scrollbar-thumb{
  background:  rgba(72, 20, 121, 0.993);
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}
.rs-drawer-body::-webkit-scrollbar-thumb,div::-webkit-scrollbar-thumb {
  background:  rgb(0, 135, 180);
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}
.activities::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#434343,#434343 1px,rgba(72, 20, 121, 0.726) 0, rgba(72, 20, 121, 0.726));
  border-radius: 2vw;
}
.rs-drawer-body::-webkit-scrollbar-track,div::-webkit-scrollbar-track{
  background: linear-gradient(90deg,#434343,#434343 1px,rgb(0, 92, 122) 0, rgb(0, 92, 122));
  border-radius: 2vw;
}
/*fin scroll horizontal*/
/*fin activities*/
/*fin Itineraries*/
/*Medias*/
@media(max-width:569px){
  .user{
    background-size: 27%;
  }
  .call i{
    font-size: 45px;
  }
  .baseLogo{
    margin: -2vh auto auto auto;
  }
  .iconos{
    margin-top: -4vh;
  }
  .slogan p{
    font-size: 5vw;
    padding: 0 10vw;
    margin-top: 4vw;
  }
  .call{
    padding: 0 4vw;
    text-align: center;
  }
  .call p{
    font-size: 4vw;
  }
  .carousel.carousel-slider{
    max-width: 400px;
    height: 100px;
  }
  .footerLinks p{
    font-size: 3.2vw;
  }
  .footerLinks a{
    font-size: 3vw;
  }
  .footerLogo {
    min-width: 50vw;
    height: 8vh;
  }
  .dropdown-content{
    min-width: fit-content;
    top: -5vh;
    left: 1vw;
  }
  .input-field label{
  font-size: 3.2vw !important;
  }
  .descriptionCity {
    font-size: 2.4vw;
  }
  .viewInfoUser p{
   font-size: 3.5vw;
  }
  .likesAndOthers i{
    font-size: 2.8vw;
  }
  .userAutorImg>div{
    height: 15vw;
    width: 15vw;
  }
  .activity{
    width: 20vw;
    height: 20vw;
  }
  .seccionInfoCity h2{
    font-size: 5vw;
  }
  .allCity>.cityView{
    flex: 2 0 40vw;
  }
}
@media (min-width:570px) and (max-width:677px){
  .user{
    background-size: 28%;
  }
  .call i{
    font-size: 55px;
  }
  .baseLogo{
    margin: -5vh auto auto auto;
  }
  .iconos{
    margin-top: -6vh;
  }
  .slogan p{
    font-size: 5vw;
    padding: 2vw;
  }
  .call p{
    font-size: 4vw;
  }
  .carousel.carousel-slider{
    max-width: 570px;
  }
  .footerLinks p{
    font-size: 2.8vw;
  }
  .footerLinks a{
    font-size: 2.6vw;
  }
  .footerLogo {
    min-width: 45vw;
    height: 10vh;
  }
  .dropdown-content{
    top: -6vh;
    left: 1vw;
  }
  .inputSearch{
    font-size: 2.8vw !important;
  }
  .descriptionCity {
    font-size: 1.8vw;
  }
  .viewInfoUser p{
    font-size: 2.8vw;
  }
  .likesAndOthers i{
    font-size: 2.5vw;
  }
  .userAutorImg>div{
    height: 15vw;
    width: 15vw;
  }
  .activity{
    width: 20vw;
    height: 20vw;
  }
  .seccionInfoCity h2{
    font-size: 4vw;
  }
  .allCity>.cityView{
    flex: 2 0 40vw;
  }
}
@media (min-width:678px) and (max-width:1048px){
  .user{
    background-size: 32%;
  }
  .dropdown-content{
    top: -5vh;
  }
  .call i{
    font-size: 75px;
  }
  .baseLogo{
    min-width: 600px;
    margin: -4vh auto auto auto;
  }
  .iconos{
    margin-top: -8vh;
  }
  .slogan p{
    font-size: 5vw;
  }
  .call p{
    font-size: 3vw;
  }
  .carousel.carousel-slider{
    max-width: 678px;
  }
  .footerLinks p{
    font-size: 2vw;
  }
  .footerLinks a{
    font-size: 1.8vw;
  }
  .footerLogo {
    min-width: 40vw;
    height: 8vh;
  }
  .inputSearch{
    font-size: 2vw !important;
    }
  .descriptionCity {
    font-size: 1.8vw;
  }
  .viewInfoUser p{
    font-size: 2.5vw;
  }
  .likesAndOthers i{
    font-size: 2.2vw;
  }
  .userAutorImg>div{
    height: 14vw;
    width: 14vw;
  }
  .activity{
    width: 18vw;
    height: 18vw;
  }
  .seccionInfoCity h2{
    font-size: 4vw;
  }
  .allCity>.cityView{
    flex: 2 0 50vw;
  }
}
@media (min-width:1049px) and (max-width:1350px){
  .user{
    background-size: 30%;
  }
  .dropdown-content{
    top: -5vh;
  }
  .call i{
    font-size: 110px;
  }
  .baseLogo{
    margin: -6vh auto auto auto;
  }
  .iconos{
    margin-top: -9vh;
  }
  .slogan p{
    font-size: 4vw;
  }
  .call p{
    font-size: 2.2vw;
  }
  .footerLinks p{
    font-size: 1.6vw;
  }
  .footerLinks a{
    font-size: 1.2vw;
  }
  .footerLogo {
    min-width: 35vw;
    height: 10vh;
  }
  .viewInfoUser p{
    font-size: 2vw;
  }
  .inputSearch{
    font-size: 1.8vw !important;
    }
  .likesAndOthers i{
    font-size: 1.4vw;
  }
  .userAutorImg>div{
    height: 12vw;
    width: 12vw;
  }
  .activity{
    width: 15vw;
    height: 15vw;
  }
  .seccionInfoCity h2{
    font-size: 2.5vw;
  }
  .allCity>.cityView{
    flex: 2 0 60vw;
    background-position: 100% 30%;
  }
}
@media (min-width:1351px){
  .user{
    background-size: 24%;
  }
  .dropdown-content{
    top: -5vh;
  }
  .call i{
    font-size: 125px;
  }
  .baseLogo{
    margin: -6vh auto auto auto;
  }
  .iconos{
    margin-top: -9vh;
  }
  .slogan p{
    margin: 4vh 0;
    font-size: 2vw;
  }
  .call p{
    font-size: 2.2vw;
  }
  .footerLinks p{
    font-size: 1.1vw;
  }
  .footerLogo {
    min-width: 12vw;
    height: 10vh;
  }
  .viewInfoUser p{
    font-size: 2vw;
  }
  .inputSearch{
    font-size: 1.5vw !important;
  }
  .likesAndOthers i{
    font-size: 1.4vw;
  }
  .userAutorImg>div{
    height: 10vw;
    width: 10vw;
  }
  .activity{
    width: 15vw;
    height: 15vw;
  }
  .seccionInfoCity h2{
    font-size: 2.5vw;
  }
  .allCity>.cityView{
    flex: 2 0 50vw;
    background-position: 100% 30%;
  }
}
/*fin medias*/
/*Estilos de alerta*/
.materialert{
  position: relative;
  min-width: 150px;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.1s linear;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.materialert .material-icons{
  margin-right: 10px;
}
.materialert .close-alert{
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
  color: inherit;
  background: 0 0;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
  filter: alpha(opacity=40);
  margin-bottom: -5px;
  position: absolute;
  top: 16px;
  right: 5px;
}
.materialert.info{
  background-color: #039be5 !important;
  color: #fff;
}
.materialert.success{
  background-color: #43a047 !important;
  color: #fff;
}
.materialert.error{
  background-color: #c62828 !important;
  color: #fff;
}
.materialert.warning{
  background-color: #fbc02d !important;
  color: #fff;
}
/*Fin de estilos de alerta*/

/*Menu Admin*/
.adminPage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw;
}
.adminPage .opciones{
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.aCities{
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  background-image:linear-gradient(180deg, rgba(0, 135, 180, 0.801), #f8f8f8);
}
.aCities .backHome i{
  font-size: 8vw;
}
.row{
  padding: 2vw;
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0c200d8a;
}
.row .col.s12{
  margin: auto;
}
.row div, .row label,.row input,.row textarea{
  color: #ffffff !important;
}
.contentTab{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.adminPage .input-field{
  width: 50vw;
}
.contentTab button{
  max-width: 15vw;
}
.buttonE{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5vw;
  max-width: 3vw;
}
.idColor{
  color: #32d864;
}
.iconosMod{
  display: flex;
}
/*Modal edit*/
.modal.bottom-sheet{
  max-height: 80%;
}
.modalEdit{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.modalEditCity{
  background-color: #039be5;
}
.modalEditCity label{
  color:rgb(0, 46, 99) !important;
  text-indent: -1.5vw
}
.modalEditCity input,.modalEditCity textarea{
  color: #f8f8f8dc;
  font-weight: bold;
}
.modalEditCity textarea{
  height: 30vh !important;
}
.modalEditCity .modal-content h4{
  background-color:  #006091;
  padding: 1vw;
  text-align: center;
  border-radius: 1vw;
  color: rgb(255, 136, 0);
}
.modalEditCity .modal-footer{
  background-color:#006091;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.modalEdit,.modalClose{
  font-weight: bolder;
}
.modalEdit{
  color: rgb(255, 136, 0) !important;
}
.modalClose{
  color: rgb(221, 19, 19) !important;
}
/*Final modal edit*/
/*Fin menu Admin*/